// BG-color

$primary-bg-color : indigo ;
$secondaty-bg-color : violet ;
$primary-text-color : white ;


// FS

$xl-font-size : 2rem;
$md-font-size : 1.3rem;
$sm-font-size : .8rem;

//  Paddings

$xl-padding : 3rem;
$md-padding : 1.3rem;
$sm-padding : .8rem;